body {
  font-family: Arial, sans-serif;
  background-color: rgb(10,25,47);;
  height: 100vh;
  margin: 0;
}

.calci_title{
  font-size: 40px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;
  color:#CCD6F6;
}

.calculator {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #CCD6F6;
  padding: 20px;
  border-radius: 8px;
}

.out{
  width: 37%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 50px;
  text-decoration: none;
  border-radius: 9px;
  box-shadow: #C3FCD8 4px 4px 13px;
  transform: scale(1, 1);
  transition: 0.2s all ease-in-out;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  margin: 0 auto;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 16px;
  font-weight: bold;
}