.all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: -40px;
  }
  
  .container{
    padding: 70px;
  }
  .box2{
    display: flex;
    flex-direction: column;
  }
  
  .input{
    width: 300px;
    height: 50px;
    padding: 10px;
    border-radius: 0.3rem;
    border-style: none;
  
  }
  .form{
    padding: 0 20px 20px 0;
  }
  
  .message{
    height: 230px;
    width: 300px;
    border-radius: 0.3rem;
    border-style: none;
    padding-left: 20px;
    padding-top: 20px;
  }
  
  .copyright{
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(204,214,246);
    letter-spacing: 2px;
    margin-top: -2%;
  }
  
  .submit{
    padding:15px;
    width: 150px;
    font-family:'Montserrat';
    font-weight: bolder;
    font-size: 18px;
    background-color: rgb(136,146,176);
    color: white;
    border-style: none;
    border-radius: 0.3rem;
    justify-items: center;
    display:block;
    margin: 0 auto;
    margin-top: -30px !important;
    letter-spacing: 0.3rem;
    transition: all .5s ease-in-out;
  }
  .fbtn{
    display: flex;
    flex-direction: column;
  }
  
  .title{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(204,214,246);
  }
  
  input::placeholder{
    font-size: 15px;
    font-weight: bold;
    color:lightslategrey;
    font-family: 'Montserrat';
  }
  
  textarea::placeholder{
    font-size: 18px;
    font-weight: bold;
    color:lightslategrey;
  }
  
  .total{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .socialsmain{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    width: 650px;
  }
  .socials2{
    display: none;
  }
  .socialsmain h1{
    color:rgb(99,252,216);
    font-size: 30px;
    letter-spacing: 0.3rem;
    font-family: "Open Sans";
    font-weight: bolder ;
  }
  
  .socialsmain h5{
    font-size: 20px;
    text-align: justify;
    color: rgb(136,146,176);
    font-weight: lighter;
    line-height: 3.6rem;
    letter-spacing: 0.07rem;
    font-family:"Open Sans";
    
  }
  
  .socials{
    display: flex;
    flex-direction: row;
  }
  .icons:hover{
    transform: scale(1.5); 
    background-color: rgb(10,25,47);
  }
  
  .submit:hover{
    transform: scale(1.5); 
    background-color: rgb(10,25,47);
  }
  
  .contactbtn{
    margin-top: 40px;
  }
  
  .icons{
    /* margin-top: 20px !important; */
    display: inline-block;
      border-radius: 100px;
      color: white;
      background-color:rgb(136,146,176) ;
    padding: 1em 1em;
    margin-right: 40px !important;
    transition: all .5s ease-in-out;
  }
  
  @media (max-width: 700px) {
    #CONTACT{
      margin-top: 95%;
    }
    .socials{
      display: none;
    }
    .image{
      margin-top: 40px;
      margin-left: -3%;
    }
    .socials2{
      display:flex;
      margin-top: -3%;
      margin-left: 9%;
      margin-bottom: 20%;
    }
    .copyright{
      margin-top: 30%;
      margin-bottom: 5%;
    }
  
    .title h1{
      font-size: 150% !important;
      text-align: center !important;
      margin-top: 100px;
  
    }
    .container1{
      display: flex;
      flex-direction: column;
    }
    .total{
      display: flex;
      flex-direction: column;
    }
  
    .socialsmain{
      margin-top: -60px;
      width:90%;
      margin-left: 10px;
      display: flex;
      justify-content: center;
    }
  
    .socialsmain h1{
      font-size: 90%;
      text-align: center;
    }
    .socialsmain h5{
      display: flex;
      font-size: 90%;
      /* text-align: center; */
      margin: 0 auto;
      align-items: center;
      letter-spacing: 0;
      line-height: 25px;
    }
  
    .box{
      display: flex;
      flex-direction: column;
    }
    .input{
      width: 70% !important;
      height: 60% !important;
      margin-left: 10px;
    }
    .message{
      width: 80%;
      height: 78%;
    }
    .icons{
      padding: 10px;
  
    }
    .all{
      display: flex;
      flex-direction: row !important;
      margin: 0 auto;
    }
    input::placeholder{
      font-size: 70%;
      font-weight: bold;
      color:lightslategrey;
      font-family: 'Montserrat';
    }
    textarea::placeholder{
      font-size: 90%;
      font-weight: bold;
      color:lightslategrey;
    }
    .submit{
      margin: 0 auto;
      margin-top: -30px !important;
      margin-bottom: 60px;
      font-size: 15px;
      width: 30%;
      padding: 5px;
    }
  }
  
  @media (min-width: 700px) and (max-width: 900px) {
   .all{
    flex-direction: column !important;
    padding-left: 40px;
    padding-right: 100px !important;
    
   }
   #CONTACT{
    margin-top: 10% !important;
   }
   input::placeholder{
    font-size: 70%;
  }
  textarea::placeholder{
    font-size: 110%;
  }
   .submit{
    margin-left: 35%;
    margin-top: 1% !important;
   }
   .container{
    padding: 7%;
    margin-top: -10% !important;
   }
   .socialsmain h1{
    font-size: 130%;
   }
   .socialsmain h5{
    font-size: 120%;
    line-height: 60px;
   }
   .input {
    margin-left: 40px;
    width: 190%;
    height: 50%;
    margin-bottom: -20px;
   }
   .message{  
    margin-left: 40px;
    width: 140%;
    height: 60%;
   }
  }
  
  @media (min-width: 900px) and (max-width: 1300px) {
    .container{
      padding: 6%;
    }
    .socialsmain h1{
      font-size: 100%;
    }
    .socialsmain h5{
      font-size: 90%;
      line-height: 65px;
    }
    .all{
      padding-left: 20%;
    }
    .input{
      width: 180%;
    }
    input::placeholder{
      font-size: 80%;
    }
    textarea::placeholder{
      font-size: 100%;
    }
    .submit{
      margin-left: 50%;
    }
    .message{
      width: 70%;
      margin-left: 50%;
      margin-right: 100px;
    }
  }