.types {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.health_title {
    color: #3498db;
}

.types p {
    line-height: 1.6;
}

.all_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Add the following styles to your existing styles */

.calci {
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-right: 10px; /* Added margin for spacing between calculators */
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .calci {
        width: 100%; /* Make calculators full width on smaller screens */
        margin-right: 0; /* Remove right margin on smaller screens */
    }
}


.category {
    text-decoration: none;
    color: #333;
}

.container_box {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    margin-right: 30px;
}

.container_box h4 {
    color: #3498db;
}