@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


* {
  padding: 0px;
  margin: 0px;
  /* box-sizing: border-box;
  zoom: 95%;
  */
}

:root {
  --first-color: #5e0303;
}

html {
  font-size: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  background-color: #FFFAFB;
  font-family: "Geomanist", sans-serif;
   background-color: rgb(10,25,47);
}


.logo {
  width: 48px;
  height: 48px;
  margin: -13px 20px;
  margin-left: -184px;
}

ul {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 1.5rem;
  margin: 54px 260px;
  margin-top: 0;
  padding-top: 30px;
  color: red;
}

.home {
  text-decoration: none;
  color: #C3FCD8;
  border-bottom: 3px solid rgb(255,255,255);
}

#ex {
  text-decoration: none;
  border-bottom: none;
}


.pict{
    /* margin-top: -180px;
    margin-right: 150px; */
    /* margin-left: 100px; */
}

.main{
    display: flex;
    flex-direction: row;
}
.main2{
    display: flex;
    flex-direction: column;
}
.about_sec{
    padding-right: 30px;
}
.about_sec h2 {
    text-align: center;
  line-height: 1.5;
  color:#C3FCD8;
  font-weight: bold;
  font-size: 25px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.about_sec h1 {
  font-size: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;

}

.about_sec p {
  font-size: 22px;
  letter-spacing: 1px;
  font-family: Alegreya;
  line-height: 35px;
  text-align: justify;
  padding: 50px;
  padding-top: 20px;
  color:#CCD6F6;
}

.head{
    text-align: left;
    margin-bottom: 70px;
    color: lightcyan;
    font-size: 50px;
    margin-left: 300px;
}

.cont{
    display: flex;
    flex-direction: row;
}
.box{
    margin-top: 50px;
    border-radius: 9px;
    width: 50%;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CCD6F6;
    box-shadow: #C3FCD8 4px 4px 13px;
    /* margin-right: 50px; */
    margin-left: 130px;
    padding: 30px;
}

.newsletter{
    border-radius: 9px;
    width: 20%;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CCD6F6;
    box-shadow: #C3FCD8 4px 4px 13px;
    padding: 50px;
    text-align: center;
}

.newsletter h2{
    margin-bottom: 20px;
}






/* Header Styles */
/* #ex-h1 {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 44px;
} */

/* Exercise Types Styles */
#exercise-types {
  margin-bottom: 20px;
  text-align: center;
}

#exercise-types button {
  font-size: 16px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Exercise Container Styles */
#exercise-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.exercise-card {
  width: 300px;
  min-height: 350px;
  background-color: white;
  border-top: 3px solid red;
  border-radius: 5px;
  padding: 25px;
  margin: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

.exercise-card:hover {
  transform: translateY(-5px);
}

#exercise-container .gif-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* border-radius: 5px; */
  margin: 17px;
  box-shadow: 0px 0px 53px 0px rgb(237 225 225 / 50%);
}

.exercise-card .exercise-name {
  font-weight: bold;
  margin-top: 10px;
  white-space: normal;
  font-size: 18px;
  /* Increase the font size for a professional look */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /* Set the desired font family */
  text-transform: capitalize;
}

.exercise-card .body-part {
  color: #888;
  font-size: 14px;
  /* Adjust the font size as needed */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: capitalize;
}

.exercise-card .target {
  color: #888;
  font-style: italic;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: capitalize;
}


.exercise-types-card img {
  width: 53px;
  position: absolute;
  top: 24%;
  left: 42%;
}

.exercise-types-card h3 {
  position: absolute;
  top: 64%;
  font-size: 1.9rem;
}


/* Pagination Styles */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 4px;
  text-decoration: none;
  color: #fff;
  background-color: #ff2625;
  border: 1px solid #ddd;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-radius: 7px;
}


.prev-button,
.next-button {
  padding: 8px 12px;
  margin: 0 4px;
  text-decoration: none;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: #b10909;
}

.page-numbers {
  display: inline-block;
}

.page-numbers span {
  padding: 8px 12px;
  margin: 0 4px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.search-section h1 {
  margin-top: 25%;
  text-align: center;
  font-size: 44px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-weight: 700px;
  margin-bottom: 49px;
  text-align: center;
}

.input-box {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: white;
  height: 1em;
  margin: 0;
  display: block;
  min-width: 0;
  width: 63%;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  font-weight: 700;
  border: 1px solid #c7c2c2;
  border-radius: 4px;
  text-align: start;
  text-transform: capitalize;
  font-size: x-large;
  font-family: math;
}

.input-box::placeholder {
  font-size: initial;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #918e8e;
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  width: 173px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: #FF2625;
  color: #fff;
  text-transform: none;
  height: 56px;
}

.search-btn:hover {
  background: white;
  color: red;
  border: 1px solid red;
}



.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container button {
  padding: 8px 16px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #45a049;
}



.arrows {
  display: flex;
  gap: 25px;
  margin-top: 100px;
  /* align-items: flex-end; */
  justify-content: end;
  margin-right: 126px;
  ;
}

.arrow-btn {
  cursor: pointer;
}

.right-arrow,
.left-arrow {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;

}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

::-webkit-scrollbar {
  width: 0px;
}

.exercise-types-container {
  position: relative;
  overflow: hidden;
}

.exercise-types-slider {
  display: flex;
  transition: transform 0.5s ease;
  padding-left: 10px;
  /* Add padding to the left to ensure the first card is fully visible */
  width: 880px;
  /* Adjust the width to accommodate 4 cards at a time */
}

.exercise-types {
  display: flex;
  /* overflow-x: hidden; */
  height: 250px;
  /* Adjust the desired height */
  /* width: 2753px; Adjust the desired width */
  margin: 36px 20px;
  padding: 10px;
  box-sizing: border-box;
}

.exercise-types-card {
  width: 294px;
  /* Adjust the desired width */
  height: 220px;
  /* Adjust the desired height */
  background-color: white;
  border-radius: 5px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: xx-large;
  border-top: 3px solid red;
  cursor: pointer;
  transform: scale(1, 1);
  transition: 0.2s all ease-in-out;
}

.exercise-types-card:hover {
  transform: scale(1.1, 1.1);
}

.slider-arrows {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 18px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.slider-arrows img {
  height: 40px;
  width: 40px;
}

.slider-arrow:hover {
  transform: scale(1.3, 1.3);
}

.prev-arrow {
  margin-right: 30px;
}

.next-arrow {
  margin-left: 10px;
}

.far.fa-heart.fa-2x{
  position: relative;
  top: -3153%;
  left: 390%;
}
.favorite-button{
  border: none;
    height: 4px;
}
.fa-heart:before {
  content: "\f004";
  color: red;
}

.remove-button {
  background-color: #ff5858;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #e83f3f;
}


.footer-body {
  margin-top: 50px;
  margin-bottom:-32px;
  margin-right:-8px;
  margin-left:-8px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 0vh; */
}

footer {
  background-color: rgb(255, 243, 244);
  text-align: center;
  padding: 20px;
  
}

.footer-content{
  margin-top:20px;
  margin-left:-30px;
}

.footer-logo {
  /* width:%; */
  display: inline-block;
  vertical-align: middle;
  margin-right: 45px;
}

.footer-logo img{
  width:175%;
}

.name {
color:#fd0a0adb;
  margin-top:28px;
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  font-family:'Kumbh Sans',sans-serif;
}

.made-with-love {
  margin-top: 10px;
  font-size:1.5rem;
}

.icon {
  font-size: 50px;
  margin: 16px;
}