body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.calci_title {
  color: #3498db;
  text-align: center;
  padding: 20px;
}

.out {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 20px;
  text-align: left;
}

input {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  margin-bottom: 20px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5% !important;
}

button:hover {
  background-color: #2c3e50;
}

#result {
  font-weight: bold;
  margin-top: 20px;
}

.calorie_box{
  display: flex;
  flex-direction:column;
}

.gender_box{
  display: flex;
}


.navlist:hover{
  background-color: #333;
  opacity: 0.75;
  border-radius: 1rem;
}