.faq_container {
  max-width: 800px;
  margin: 20px auto;
  margin-top: 17%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq_container h2{
  color: #00bcd4;
}

#faq-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .faq-question {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    color: black;
  }

  .faq-answer {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: max-height 0.5s ease-in-out;
    color: black;
  }

  h2{
    text-align: center;
    color: #3498db;
  }

  .navlist:hover{
    background-color: #333;
    opacity: 0.75;
    border-radius: 1rem;
  }

/* Testimonials start here */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}

.white-heading {
  color: #ffffff;
}

.heading:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}

.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.white-heading span {
  color: #ffffff;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonial-card {
  font-family: 'Lato', Arial, sans-serif;
  display: inline-block;
  overflow: hidden;
  margin: 20px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease;
}

.testimonial-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.testimonial-card:hover {
  background-color: #333;
}

.testimonial-card:hover h3 {
  color: #ff4500;
}

.testimonial-card img {
  max-width: 100%;
  vertical-align: middle;
  opacity: 0.7;
  margin: 0 auto;
}

.testimonial-card figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px 10% 15%;
  width: 100%;
  text-align: center;
}

.testimonial-card blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1.2em;
}

.testimonial-card h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.testimonial-card h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}

/* Testimonials end here */    

.menu-links a {
  display: block;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
} 