.types {
    /* text-align: center; */
    max-width: 1300px;
    margin: 20px auto;
    margin-top: 17%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.calci {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    text-decoration: none;
    color: #333;
    flex: 0 0 30%; /* Adjust the width based on your preference */
    margin: 15px;
}
.category:hover, .category:active, .category:visited {
    text-decoration: none;
} /*removes underline that comes with href*/
.container_box {
    text-decoration: none;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ecf0f1;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

.container_box h4 {
    color: #3498db;
}
.gradient-hover {
  background: linear-gradient(131deg,#F0F0F0, #F5F5F5, #FAF0E6);
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  transition: background-position 0.3s ease;
}

.gradient-hover:hover {
  background: linear-gradient(131deg, #FFEBCD, #FAF0E6, #F5DEB3);
}


.health_title {
    color: #3498db;
}

@media (max-width: 768px) {
    .category {
        flex: 0 0 100%; /* Full width on smaller screens */
    }
}

.navlist:hover{
    background-color: #333;
    opacity: 0.75;
    border-radius: 1rem;
  }

  .menu-links a {
    display: block;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}