.types {
    /* text-align: center; */
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.calci {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    text-decoration: none;
    color: #333;
    flex: 0 0 30%; /* Adjust the width based on your preference */
    margin: 15px;
}

.container_box {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ecf0f1;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

.container_box h4 {
    color: #3498db;
}


.health_title {
    color: #3498db;
}

@media (max-width: 768px) {
    .category {
        flex: 0 0 100%; /* Full width on smaller screens */
    }
}