
#outer{
    width:90%;
    max-width:600px;
    background:#fff;
    margin:0 auto;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.main{
    table-layout:fixed;
    width:94%;
    border:0;
    text-align:center;
    border-collapse:collapse;
    margin:0 auto;
    display:flex;
    
}
.main input{
    width:100%;
    border:1px solid #ccc;
    margin:2px 0;
    padding:0 2%;
    height:50px;
    text-align:center;
}
.ac{
    text-align:center
}
.b{
    font-weight:bold
}
.main select{
    width:100%;
    border:1px solid #ccc;
    margin:2px 0;
    background:#ffffff;
    height:50px
}
.w50{
    width:50%;
    display:flex;
}
.main button{
    width:100%;
    font-weight:bold;
    margin:3px 0
}.w60{
    width:60%;
    display: flex;
}.w40{
    width:40%;
    display: flex;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url(../images/weight.webp);
    background-size: cover;
  }
  .calci_title {
    color: #3498db;
    text-align: center;
    padding: 20px;
    font-size: 4s0px;
  }
  .main td{
    text-align: center;
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 4px;
  }
  button{
    background-color:#3498db;
    color: #fff;
    border-collapse:collapse;
  }
