html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    background-image: url("../images/physical-bg5.jpg");
}

header h1 {
    margin: 0;
}
.content {
    max-width: 800px;
    margin: 2rem auto;
    margin-top: 17%;
    padding: 20px;
    border-radius: 8px;
    background-color:  #f4f4f4;
    border-width: 2px;  
}

section {
    margin-bottom: 2rem;
}

.navlist:hover{
    background-color: #333;
    opacity: 0.75;
    border-radius: 1rem;
  }
