body{
    background-image: url(../images/sleep.jpg);
    background-size: cover;
    
    
}
.agee{
    padding: 0.5rem 1.5rem;
    margin-bottom: 20px;
    color: white;
    outline: none;
    border: 1px solid black;
    background-color:blue;
    cursor: pointer;
    box-shadow:  -8px -8px 15px rgba(130, 35, 35, 0.696);
    transition: 0.3s;
    
}

.out{
  height: 65vh;
  margin-top: 0px !important;
  margin-top: -20px;
}

.calculator{
   background-color: black;
   font-weight: bold;
   border-radius: 20px;
   box-shadow: 5px 5px 10px 2px rgba(25, 55, 202, 0.8);
}
.result-box{
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    color:white;
    /* background-color: #9e8aea; */
    background-color: transparent;
    border-radius: 20px;
    /* Add more styles based on your design preferences */
  }
  
  
  /* .agebox{
    border-bottom: black;
  } */

#result{
    color:white;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 1000,
    'GRAD' 0,
    'opsz' 100
  }
  .moon{
    background-color:transparent;
    color: white;
  }
  .material-symbols-outlined {
    font-size: 4em; /* Adjust the value to make the moon bigger */
  }
  .sleep-calculator__title{
    color: white;
  }
  .calbtn,.resetbtn{
    background-color: blue;
    color: white;
    
  }

  .calci_title{
    margin-top: 200px;
    margin-bottom: ;
  }