body{
    background-image: url(../images/sleep.jpg);
    background-size: cover;
    
    
}
.calculator{
   background-color: transparent;
   font-weight: bold;
   box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}


